.main-form {
  width: 365px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  &__select {
    min-width: 75px;
    flex-grow: 0;
  }

  &__input {
    padding: 0 10px;
    margin-right: 10px;
    flex-grow: 1;
  }

  &__submit {
    align-self: center;
  }

  .main-form__btn {
    padding: 5px;
    min-width: 34px;
    margin-right: 5px;
  }
}