.main-form {
  width: 650px;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    width: 390px;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  &__select {
    min-width: 75px
  }

  &__input {
    padding: 0 10px;
  }

  .main-form__btn {
    padding: 5px;
    min-width: 34px;
    margin-left: 10px;

    &.main-form__btn-remove {
      margin-left: 5px;
    }
  }
}